@import 'tailwindcss';

html {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
